
<div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>footer</h2>
                </div>
                </div>
                </div>


<footer class="footer" id="foot">
  <div class="follow">
      <h4>
          <b>Follow us on:</b>
      </h4>
  </div>
  <div class="text-center">
      <a href="https://www.facebook.com">
          <i class="fa fa-facebook-square" style="font-size:24px;color:#3b5998" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/login">
          <i class="fa fa-twitter-square" style="font-size:24px;color: #0084b4"></i>
      </a>
      <a href="https://www.linkdin.com">
          <i class="fa fa-linkedin-square" style="font-size:24px;color: #0077B5"></i>
      </a>
      <a href="https://plus.google.com/">
          <i class="fa fa-google-plus-square" style="font-size:24px;color: #db4a39"></i>
      </a>
  </div>
</footer>