<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Author</th>
          <th>Date</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let book of childbooks">
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.entryDate|date:'yyyy/MM/dd'}}</td>
          <td>{{book.id}}</td>
          <button (click)="add()"></button>
        </tr>
      </tbody>
    </table>
  </div>
</div>