<div class="container">
<div class="row">
    
    <div class="col-md-6">
            <h2>
    <a [routerLink]="['/home']">{{applicationname}}</a>
    </h2>
    </div>
    <div class="col-md-6">
        <h2>
            <a [routerLink]="['/request']">Request Book</a>
          </h2>
        
        
     
    </div>
    <div class="col-md-6">
        <h2>
            <a [routerLink]="['/updateBook/']">update Book</a>
          </h2>
        
        
     
    </div>
    
</div>
</div>